@model Dictionary<string, string>

@{
    ViewData["Title"] = "Home Page";
}

<hr />

<button type="button">
    @Html.ActionLink("Run tests", "RunCompaundTests", "Home", new { scriptName = "test" })
</button>

<button type="button">
    @Html.ActionLink("Run popusps tests", "RunCompaundTests", "Home", new { scriptName = "test-popups" })
</button>

<button type="button">
    @Html.ActionLink("Run users scenario tests", "RunCompaundTests", "Home", new { scriptName = "test-users-scenario" })
</button>

<button type="button">
    @Html.ActionLink("Run not login state tests", "RunCompaundTests", "Home", new { scriptName = "test-not-login-state" })
</button>

<button type="button">
    @Html.ActionLink("Run login state tests", "RunCompaundTests", "Home", new { scriptName = "test-login-state" })
</button> 

<hr />                       

@foreach (var kvp in Model)
{
    <p>
        <label>@kvp.Key</label>
        <a asp-controller="Home"
           asp-action="RunConcreteTest"
           asp-route-scriptName="@kvp.Key">
            Run this test</a>
    </p>
}


